$info: hsl(75, 94%, 57%);
$white: hsl(0, 0%, 100%);
$secondary: hsl(0, 0%, 20%);

.custom-btn {
    background-color: $secondary;
    color: $white;
    padding: 0.5rem 1rem;
    font-size: 14px;
    border: 0;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($info, 10%);
      color: hsl(0, 0%, 1%);
    }
  }

// ## Colors

// - Green: hsl(75, 94%, 57%)

// - White: hsl(0, 0%, 100%)

// - Grey 700: hsl(0, 0%, 20%)
// - Grey 800: hsl(0, 0%, 12%)
// - Grey 900: hsl(0, 0%, 8%)

// ## Typography

// ### Body Copy

// - Font size (paragraph): 14px

// ### Font

// - Family: [Inter](https://fonts.google.com/specimen/Inter)
// - Weights: 400, 600, 700

@import 'node_modules/bootstrap/scss/bootstrap';